@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";font-size: 18px;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";}
/*START CUSTOM STYLES*/
.nav {background: #3D7690;height:80px;padding:20px;margin:0;color:#fff;}

.hero {background:#666;height:430px; margin:0;background-image: url()}

.main {
	display:flex;
	flex-flow: column;
  	height: 100%;
	background:#F3F3F3;
	padding:50px;
	font-size:1em;
}
.main h2 {font-size:48px;font-weight:100;padding-bottom:40px;}

.wrapper {
  display: grid;
	column-gap:10px;
	row-gap:10px;
	padding-bottom:40px;
	max-width:1440px;
}
.wrapper div.one {width:70%;}
.wrapper div.two {width:20%;}
.wrapper div.three {width:45%;}
.wrapper div.four {width:45%;}

.footer {
	background: #3D7690;
	text-align:center;
	color:#fff;
	padding:20px;
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	font-size:.8em;
}



