html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";font-size: 18px;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Helvetica, Arial, "sans-serif";}
h2 {font-size:36px;font-weight:100;padding-bottom:40px;}
/*START CUSTOM STYLES*/
.nav {
  background: #000;
  padding:30px 20px;
  margin:0;
  color:#fff;
  text-align:right;  
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.nav ul li {
  display:inline-block;
}
.nav .logo, .nav .phone-number {color:#fff;float:left;text-align:left;line-height:1.6em;font-size:1em;}
.nav .logo img {width:220px;position:relative; top:-20px;}
.nav .phone-number a, .nav .phone-link a[href^="tel:"] {color:#fff;text-decoration:none;font-size:1em;}
a[href^="tel:"]:before {
  content: "\1f4de";
  margin-left: 0.3em;
  margin-right: 0.2em;
}
.nav .contact-link {font-weight:700;}

.nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Change color on hover */
.nav ul li a:hover {
  background-color: #666;
  border-radius:8px;
}
.overlay {
	background-image:linear-gradient(to right, rgba(54,146,193,0), rgba(54,146,193,1));	
	
}
.hero {
  	background: url(../images/kate-ibragimova-bEGTsOCnHro-unsplash.jpg) top/cover;
  	height:450px; 
 	margin:0;
	display: grid;
  place-items:right;
 
	
  	
}


.main {
	display:flex;
	flex-flow: column;
	background:#F3F3F3;
	padding:50px;54,146,193,0
	font-size:1em;
 
}

.main-container {
  max-width:1800px;
  margin:0 auto;
}
.wrapper {
  display: grid;
	column-gap:10px;
	row-gap:10px;
	padding-bottom:36px;
  
}
.wrapper div.one {width:70%;}
.wrapper div.two {width:20%;}
.wrapper div.three {width:45%;}
.wrapper div.four {width:45%;}

.clients {
  background:#eee; 
  padding:50px;
  display:block;
  position:relative; 
  bottom:60px;
}

.footer {
	background: #000;
	text-align:center;
	color:#fff;
	padding:20px;
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	font-size:.8em;
}
/* media query to keep the nav from breaking */
@media (max-width: 1200px) {
  
  .nav {
  padding:30px auto;
  margin:0;
  text-align:center;  
}

  .nav ul {
  clear:both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0;
  }
  .nav ul li {
    border-top:1px solid #666;
  }
}

@media (max-width: 460px) {
 .nav .logo {float:none;text-align:center;} 
 .nav .phone-number {float:none;text-align:center;line-height:1.6em;font-size:1em;padding-bottom:20px;}
.nav .logo img {width:220px;top:0px;text-align:center;}

}

* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
	  border-radius:8px;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}


/* Set a style for all buttons */
.container button {
  background-color: #3692C1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius:8px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.container button:hover {
  opacity:1;
}

/* Float signup button */
.signupbtn {
  float: none;
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 30px 50px 0 0;
margin:0;
  max-width:400px;
height:100%;
color:#fff;
float:right;
}
.container h2 {
	font-size:36px;
	padding:0 auto;
	text-align:center;	
}

.container h3 {
	font-size:27px;
	padding:10px auto;
	text-align:center;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

