body {
    background-color: #2a2b2f; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #fff;
    text-align:center;
}

.mona-images {
    max-width: 400px;
    max-height: 400px;
    border: 8px solid #fff;
}

.haiku-containers {
    padding: 10px 0px 20px 0px;
}

.haikus {
    font-size: 18px;
    white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
    .june-images {
        max-width: 340px;
        max-height: 340px;
    }

    .haikus {
        font-size: 22px;
    }
}
.contentText {
	color: #333;
}
.container .content p strong {
	color: #000;
}
.container .content p {
	color: #000;
	text-align: left;
}
.container .content p {
}
.container .content blubld   {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #069;
}
.content p strong red {
font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #F20C0C;	
}
	
th, td {
  padding: 15px;
}
